<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097408779688-uec6mum5pqv6lin42rbp989jms8n871u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097408779688-uec6mum5pqv6lin42rbp989jms8n871u</string>
	<key>API_KEY</key>
	<string>AIzaSyA2gVDfr4uj_04h6CydsmbrLJ1aoTDFCHs</string>
	<key>GCM_SENDER_ID</key>
	<string>1097408779688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.gabriellechang.sced-app</string>
	<key>PROJECT_ID</key>
	<string>sched-true</string>
	<key>STORAGE_BUCKET</key>
	<string>sched-true.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097408779688:ios:7d5e66e9b9f83342</string>
	<key>DATABASE_URL</key>
	<string>https://sched-true.firebaseio.com</string>
</dict>
</plist>